/* Navigation.css */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; /* Space items evenly */
    background-color: white; /* Navbar background color */
    padding: 10px 20px; /* Padding for the navbar */
  }
  
  li {
    margin: 0 15px; /* Space between list items */
  }
  
  button {
    text-decoration: none; /* Remove underline from links */
    color: rgb(35, 53, 191); /* Link text color */
    font-weight: bold; /* Make text bold */
    padding: 8px 12px; /* Padding for clickable areas */
    border: 1px solid blue; /* Remove default button border */
    background: none; /* Remove button background */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s; /* Smooth background color change */
  }
  

  .hidden {
    display: none;
  }

  .logo img{
   width: 40px;
  }